<% provide(:title, 'About Us') %>
<h1>About</h1>


<p>This is a simple micropost application developed by Ruby on Rails</p>
<p>A product of this awesome RoR tutorial: <a href=http://ruby.railstutorial.org/>http://ruby.railstutorial.org/<br></a></p>

	<p>
	<h3><br>Please help me test this app.</h3> Things you can play with:<br>
	--- Page navigation<br>
 	--- Sign up / Sign in <br>
	--- Publish / Delete microblogs<br>
	--- Edit profile <br>
	--- Following others<br>
	--- Check full user lists<br>
	--- Error notification<br>
	--- C'MON! Crash it if you can!!!!
	
	</p>

	<p>
	<br>Find the codes on my Github repository:<br>
	<a href="https://github.com/chenjiayuan/cjy_app">https://github.com/chenjiayuan/cjy_app</a> The app is keep updating!
	</p>

	<p>
		thanks a lot!
	</p>