<% provide(:title, 'Help') %>
    <h1>Help</h1>
    
	<p>
	localhost database reset:<br>
	$ bundle exec rake db:reset<br>
	$ bundle exec rake db:populate<br>
	$ bundle exec rake db:test:prepare
	</p>

	<p>
		Heroku setup:<br>
      	$ git push heroku <br>
		$ heroku pg:reset DATABASE<br>
		$ heroku run rake db:migrate<br>
		$ heroku run rake db:populate
    </p>

