<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
  </div>  
<% else %>

<div class="center hero-unit">
  <h1>Microblog!</h1>
 
<h2>
  <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash4/273819_1604895273_636677192_q.jpg" alt="BOSSCHEN">
  
    This is
    <a href="https://www.facebook.com/colourfulpanda">Jiayuan Chen</a>
	,engineering co-op @ Oracle.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<% end %> 